<!-- partials/item_detail_modal.html -->
<div class="modal fade" id="itemDetailModal{{ item.id }}" tabindex="-1" aria-labelledby="itemDetailModalLabel{{ item.id }}" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="itemDetailModalLabel{{ item.id }}">{{ item.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <dl class="row">
          <dt class="col-sm-4">Name</dt>
          <dd class="col-sm-8">{{ item.name }}</dd>

          <dt class="col-sm-4">Location</dt>
          <dd class="col-sm-8">{{ item.location.name }}</dd>

          <dt class="col-sm-4">Sub Location</dt>
          <dd class="col-sm-8">{{ item.sub_location|default:'' }}</dd>

          <dt class="col-sm-4">Purchase Year</dt>
          <dd class="col-sm-8">{{ item.purchase_year|default:'' }}</dd>

          <dt class="col-sm-4">Initial Value</dt>
          <dd class="col-sm-8">{{ item.initial_value|default:'' }}</dd>
        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
